html{
  scroll-behavior: smooth;
}

body{
background-color: #ffffff;
font-size: 20px;
margin: 0;
padding: 0;
font-family: Sans-serif;
}

header{
background: #e0ffe0;
border-bottom: 3px solid #000080;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

header img{
width: 750px;
}

@-webkit-keyframes logo_wiggle{
0%      {-webkit-transform: rotateY(0deg);left:0px;}
50%     {-webkit-transform: rotateY(360deg);left:0;}
100%    {-webkit-transform: rotateY(-360deg);left:0px;}
}

@keyframes logo_wiggle{
0%      {-webkit-transform: rotateY(0deg);left:0px;}
50%     {-webkit-transform: rotateY(360deg);left:0;}
100%    {-webkit-transform: rotateY(-360deg);left:0px;}
} 

#logo{
-webkit-animation-duration: 5s;
-webkit-animation-name: logo_wiggle;
animation-duration: 5s;
animation-name: logo_wiggle;
}

.nav_links{
display: flex;
flex-direction: column;
align-items: center;
list-style: none;
justify-content: space-between;
padding: 5px 20px;
}

.nav_item a{
background-color: #ffffff;
color: #000080;
font-weight: bold;
font-size: 25px;
text-decoration: none;
padding: 5px 10px;
}

.nav_item a:hover, a:focus{
text-decoration: underline;
-webkit-text-decoration-style: wavy;
      text-decoration-style: wavy;
background-color: #000080;
color: #fff1af;
}

.nav_item .chosen {
background-color: #fff1af;
color: #000080;
}

.nav_item:active {
transform: translateY(5px);
}

footer{
background-color: black;
color: white;
padding-top: 5px;
text-align: center;
width:100%;
position: fixed;
bottom: 0;
}



.skip a{
background: white;
color:black;
left: 0;
padding: 6px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
position: absolute;
top: -40px;
}

.skip a:focus{
position: absolute;
top: 0;
}


fieldset{
    border: none;
  }
  
input:focus{
    border: 2px solid #598a30;
  }
  
  
  label{
    display: inline-block;
    margin-right:10px;
  }
  input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 5px;
    margin: 8px 0 40px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  span{
    margin-left:20%;
    font-family: italic;
    font-weight: bold;
  }
  
  textarea{
    width: 100%;
    height: 20vh;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  input[type=checkbox]{
      display:inline;
      width:inherit;
  }
  
  input[type=submit] {
    background-color: #000080 ;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    color:#fffaf0;
  
    
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
}
  
footer{
  background-color: black;
  color: white;
  padding-top: 5px;
  text-align: center;
  width:100%;
  position: fixed;
  bottom: 0;
}
@media screen and (min-width: 760px) {
  header{
      flex-direction: column;
      justify-content: space-between;
  }
  
  .nav_links{
      flex-direction: row;
      justify-content: space-between;	
  }
  
  @media screen and (min-width: 1470px) {
  header{
      flex-direction: row;
      justify-content: space-between;
  }
  
  .nav_links{
      flex-direction: row;
      justify-content: space-between;	
  }
  
  .nav_item a{
      padding: 10px;
  }
    
  
  @media (prefers-reduced-motion: reduce) {
      #logo {
      animation: none;
      }
  }
