html{
    scroll-behavior: smooth;
}

body{
  background-color: #ffffff;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

header{
  background: #e0ffe0;
  border-bottom: 3px solid #000080;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header img{
  width: 750px;
}

@-webkit-keyframes logo_wiggle{
	0%      {-webkit-transform: rotateY(0deg);left:0px;}
	50%     {-webkit-transform: rotateY(360deg);left:0;}
	100%    {-webkit-transform: rotateY(-360deg);left:0px;}
}

@keyframes logo_wiggle{
	0%      {-webkit-transform: rotateY(0deg);left:0px;}
	50%     {-webkit-transform: rotateY(360deg);left:0;}
	100%    {-webkit-transform: rotateY(-360deg);left:0px;}
} 

#logo{
  -webkit-animation-duration: 5s;
  -webkit-animation-name: logo_wiggle;
  animation-duration: 5s;
  animation-name: logo_wiggle;
}

.nav_links{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding: 5px 20px;
}

.nav_item a{
  background-color: #ffffff;
  color: #000080;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  padding: 5px 10px;
}

.nav_item a:hover, a:focus{
	text-decoration: underline;
	-webkit-text-decoration-style: wavy;
        text-decoration-style: wavy;
	background-color: #000080;
	color: #fff1af;
}

.nav_item .chosen {
	background-color: #fff1af;
	color: #000080;
}

.nav_item:active {
  transform: translateY(5px);
}

footer{
  background-color: black;
  color: white;
  padding-top: 5px;
  text-align: center;
  width:100%;
  position: fixed;
  bottom: 0;
}



.skip a{
  background: white;
  color:black;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus{
	position: absolute;
	top: 0;
}

body{
background-color: #737372;
font-size: 18px;
margin: 0;
padding: 0;
}


h2{
    font-size: 35px;
	text-shadow: 5px 5px 2px #808080;
	font-weight: bold;
	padding-bottom: 10px;
	font-family: "Comic Sans MS";
}


.container{
    display: grid;
    grid-template-columns:1fr 3fr 3fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 20px;
}

header{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: white;
    height: 400px;                /* Parallax effect */
        

margin-bottom: 25px;  
}

.hotpot, .douhua, .chaoshou, .dandan{
grid-column: 2 / span 2; 
}

.hotpot-image, .douhua-image, .chaoshou-image, .dandan-image{
grid-column: 1 / -1;
max-height: 650px;
overflow: hidden;
}

.hotpot, .hotpot-image{
    grid-row: 1 / span 1;

}

.douhua, .douhua-image{
    grid-row: 2 / span 1;

}

.chaoshou, .chaoshou-image{
    grid-row: 3 / span 1;

}

.dandan, .dandan-image{
    grid-row: 4 / span 1;

}

.text{
background-color: rgba(255, 255, 255, .8);
border: 10px solid black;
padding: 30px;
align-self: center;
justify-content: center;
}

@media screen and (min-width: 760px) {
header{
    flex-direction: column;
    justify-content: space-between;
}

.nav_links{
    flex-direction: row;
    justify-content: space-between;	
}

@media screen and (min-width: 1470px) {
header{
    flex-direction: row;
    justify-content: space-between;
}

.nav_links{
    flex-direction: row;
    justify-content: space-between;	
}

.nav_item a{
    padding: 10px;
}
  

@media (prefers-reduced-motion: reduce) {
    #logo {
    animation: none;
    }
}
