html{
    scroll-behavior: smooth;
}

body{
  background-color: #ffffff;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

header{
	background: #e0ffe0;
	border-bottom: 3px solid #000080;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
  }

header img{
  width: 750px;
}

@-webkit-keyframes logo_wiggle{
	0%      {-webkit-transform: rotateY(0deg);left:0px;}
	50%     {-webkit-transform: rotateY(360deg);left:0;}
	100%    {-webkit-transform: rotateY(-360deg);left:0px;}
}

@keyframes logo_wiggle{
	0%      {-webkit-transform: rotateY(0deg);left:0px;}
	50%     {-webkit-transform: rotateY(360deg);left:0;}
	100%    {-webkit-transform: rotateY(-360deg);left:0px;}
} 

#logo{
  -webkit-animation-duration: 5s;
  -webkit-animation-name: logo_wiggle;
  animation-duration: 5s;
  animation-name: logo_wiggle;
}

.nav_links{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding: 5px 20px;
}

.nav_item a{
  background-color: #ffffff;
  color: #000080;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  padding: 5px 10px;
}

.nav_item a:hover, a:focus{
	text-decoration: underline;
	-webkit-text-decoration-style: wavy;
        text-decoration-style: wavy;
	background-color: #000080;
	color: #ffffff;
}

.nav_item .chosen {
	background-color: #fff1af;
	color: #ffffff;
}

.nav_item:active {
  transform: translateY(5px);
}

footer{
  background-color: black;
  color: white;
  padding-top: 5px;
  text-align: center;
  width:100%;
  position: fixed;
  bottom: 0;
}



.skip a{
  background: white;
  color:black;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus{
	position: absolute;
	top: 0;
}

.container {
	display: grid;	
	grid-template-columns: auto auto auto;
	padding: 10px;
	background-color: #DDEBFF;
}

.card-img:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	opacity: 0.6;
}

.card-img {
	transition: 0.4s;
	-webkit-transition: 0.4s;
}

div {
	position: relative;
	width: 100%;
}

.card-title {
	display: none;
	position: absolute;
	width: 100%;
	bottom: 5px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.8);
}

div:hover .card-title{
	display: block;
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
}


@media screen and (min-width: 760px) {
  header{
	flex-direction: column;
    justify-content: space-between;
  }

  .nav_links{
	flex-direction: row;
	justify-content: space-between;	
  }

.container {
	display: grid;
	grid-template-columns: auto, auto;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	padding: 10px 10px 50px 10px;
}

.card0 {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}

}
  

@media screen and (min-width: 1470px) {
  header{
	flex-direction: row;
    justify-content: space-between;
  }

  .nav_links{
	flex-direction: row;
	justify-content: space-between;	
  }

  .nav_item a{
    padding: 10px;
  }
  
.container {
	display: grid;	
	grid-template-columns: auto auto auto;
	padding: 10px;
}

.card0 {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}


@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}